* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.app {
  margin: 40px;
}

input, select, button {
  padding: 8px 16px;
  border: 1px solid #ddd;
}

input[type=number] {
  text-align: right;
}

.primary-button {
  background-color: tomato;
  color: white;
}

.service-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.client-form,
.service-row {
  display: flex;
  align-items: center;
}

.client-form > *,
.service-row > * {
  margin-right: 2rem;
  font-size: 1rem;
}

.service-row {
  padding: 16px 0;
  margin-bottom: 8px;
  background-color: #e8eaed;
}

.service-row:last-child {
  border-bottom: 0;
}

.service-row__description {
  flex-grow: 2;
}

.service-row__index {
  width: 40px;
  margin-right: 0;
  margin-left: 16px;
}

.service-row__rate {
  width: 100px;
  text-align: right;
}

.total-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin__value {
  font-size: 2rem;
  font-weight: bold;
}